@import './_variables';

mat-toolbar-row {
    display: flex;
    justify-content: center;
    height: $toolbar-height;

    button {
        flex: 0.4;
        height: 80px;
        font-size: 1.5em;

        &:not(:last-child) {
            margin-right: 5%;
        }

        &.active {
            background-color: $accent;
        }
    }
}